@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Roboto+Slab&family=Work+Sans:wght@300;400;600&display=swap");
.infoBar {
  width: 100%;
  height: inherit;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  gap: 1rem;
  position: fixed;
  z-index: 100;
}
.infoBar .numeroTel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.infoBar .numeroTel:hover {
  color: #4CC9F0;
}
.infoBar .numeroWp a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  color: #4361EE;
  transition: all 0.3s;
}
.infoBar .numeroWp a:hover {
  color: #4CC9F0;
}
.infoBar * {
  font-size: 1.7rem;
}
.infoBar * svg {
  width: 2.3rem;
  height: 2.3rem;
}
@media screen and (max-width: 425px) {
  .infoBar * {
    font-size: 0.8rem;
  }
  .infoBar * svg {
    width: 1rem;
    height: 1rem;
  }
}

nav {
  z-index: 100;
  margin-top: 4.1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0.25turn, #4895EF, #4361EE, #4895EF);
  padding: 1rem 1.5rem;
  position: fixed;
  width: 100%;
  gap: 1rem;
}
nav .logoName {
  width: 23rem;
}
nav .logoTotal {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/backend-5dd0b.appspot.com/o/neurocaminos.png?alt=media&token=274817a2-799a-4e43-9957-4a50be40a383");
  width: 15rem;
  height: 9rem;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
}
nav .logoTotal:hover {
  transform: scale(1.2, 1.2);
}
nav .logo {
  width: 6rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s;
}
nav .logo:hover {
  transform: scale(1.2, 1.2);
}
@media screen and (max-width: 425px) {
  nav .logo {
    width: 3.5rem;
  }
}
@media screen and (max-width: 425px) {
  nav .logoTotal {
    width: 8rem;
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
nav .tituloNav {
  color: white;
  font-size: 2.5rem;
}
@media screen and (max-width: 425px) {
  nav .tituloNav {
    font-size: 1.1rem;
  }
}
nav .tituloNav--span {
  font-family: "Open Sans";
  font-size: 3.3rem;
  font-style: italic;
}
@media screen and (max-width: 425px) {
  nav .tituloNav--span {
    font-size: 1.1rem;
  }
}
nav .listaNavisActive {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.3rem;
  color: white;
}
@media screen and (max-width: 425px) {
  nav .listaNavisActive {
    flex-flow: column nowrap;
    width: 100%;
    font-size: 0.8rem;
    gap: 0.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
  }
  nav .listaNavisActive a {
    color: white;
  }
  nav .listaNavisActive li {
    width: 100%;
    padding: 0.7rem;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  nav .listaNavisActive li a {
    text-decoration: none;
    color: #3F37C9;
  }
}
nav .listaNav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.3rem;
}
nav .listaNav a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 425px) {
  nav .listaNav {
    display: none;
  }
  nav .listaNav li {
    display: none;
  }
}
nav .botonHamburguesa {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 425px) {
  nav .botonHamburguesa {
    display: flex;
  }
}
@media screen and (max-width: 425px) {
  nav {
    margin-top: 3rem;
  }
}

.underline {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}
.underline:hover {
  color: white;
}

.underline__blue {
  display: inline-block;
  position: relative;
}

.underline__blue:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  top: 2.3rem;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
@media screen and (max-width: 425px) {
  .underline__blue:after {
    transform: none;
  }
}

.underline__blue:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contenedorFooter {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem;
  background: linear-gradient(to bottom, #4CC9F0, #3F37C9);
  color: white;
}
.contenedorFooter ul {
  width: 10rem;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.contenedorFooter ul h3 {
  margin-bottom: 1.5rem;
}
.contenedorFooter ul li {
  margin-bottom: 0.7rem;
  transition: all 0.4s;
}
.contenedorFooter ul li:hover {
  transform: scale(1.2, 1.2);
}
.contenedorFooter ul li a {
  color: white;
}
.contenedorFooter ul .iconFooter {
  width: 2.2rem;
}
@media screen and (max-width: 425px) {
  .contenedorFooter ul {
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .contenedorFooter {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
}

.iconWP {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 30px;
  right: 30px;
  line-height: 55px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 0.8rem;
  box-shadow: 0px 1px 10px rbga(0, 0, 0, 0.3);
  z-index: 100;
}
.iconWP:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}
@media screen and (max-width: 425px) {
  .iconWP {
    width: 50px;
    height: 50px;
    padding: auto;
  }
}

.container_incio {
  width: 100%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/taniker-rojas.appspot.com/o/MejorDeMejores.png?alt=media&token=40c6091f-a648-414d-ae35-bec1aadcefad");
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "imgInicio imgInicio imgInicio" "-title_inicio -title_inicio -title_inicio" "main_inicio main_inicio main_inicio" "multimedia_incio1 multimedia_incio1 aside_inicio" "profecionales_inicio profecionales_inicio profecionales_inicio" "containerUbicacion containerUbicacion containerUbicacion" "teleasistencia teleasistencia teleasistencia";
  padding-top: 15em;
}
.container_incio .containerUbicacion {
  grid-area: containerUbicacion;
  height: 30rem;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(0.25turn, #4895EF, #4361EE, #4895EF);
}
.container_incio .containerUbicacion_direccion {
  width: 25rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 2rem;
}
.container_incio .containerUbicacion_direccion h3 {
  color: #fff;
  font-size: 2rem;
}
.container_incio .containerUbicacion_direccion p {
  color: #fff;
  font-size: 1.3rem;
}
.container_incio .containerUbicacion_ubi {
  width: 60vw;
  height: 70%;
}
.container_incio .containerUbicacion_ubi iframe {
  width: 100%;
  height: 100%;
  border: none;
}
@media screen and (max-width: 425px) {
  .container_incio .containerUbicacion {
    height: 40rem;
    margin-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #4361EE;
  }
  .container_incio .containerUbicacion_direccion {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }
  .container_incio .containerUbicacion_direccion h3 {
    color: #fff;
    font-size: 1.7rem;
  }
  .container_incio .containerUbicacion_direccion p {
    color: #fff;
    font-size: 1rem;
  }
  .container_incio .containerUbicacion_ubi {
    width: 90vw;
    height: 60%;
  }
  .container_incio .containerUbicacion_ubi iframe {
    width: 100%;
    height: 100%;
  }
}
.container_incio .teleasistencia {
  grid-area: teleasistencia;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-color: #4361EE;
  position: relative;
  margin-bottom: 1.4rem;
}
.container_incio .teleasistencia_fondo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.container_incio .teleasistencia_img {
  border-radius: 50% 50% 50% 50%;
  width: 17rem;
  height: 17rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 300px;
}
.container_incio .teleasistencia_text {
  width: 30vw;
  color: #fff;
  font-size: 1.7rem;
  position: absolute;
  right: 300px;
}
@media screen and (max-width: 1024px) {
  .container_incio .teleasistencia {
    height: 23rem;
  }
  .container_incio .teleasistencia_img {
    width: 15rem;
    height: 15rem;
  }
  .container_incio .teleasistencia_text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .container_incio .teleasistencia {
    margin-bottom: 0;
    flex-flow: column nowrap;
    height: 32rem;
  }
  .container_incio .teleasistencia_img {
    width: 8rem;
    height: 8rem;
    position: absolute;
    left: 130px;
    bottom: 50px;
  }
  .container_incio .teleasistencia_text {
    width: auto;
    color: #fff;
    font-size: 1.3rem;
    right: 0px;
    top: 50px;
    text-align: center;
    padding: 1rem;
  }
}
.container_incio .imgInicio {
  grid-area: imgInicio;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}
.container_incio .imgInicio .image_inicio {
  opacity: 0.7;
  width: 100%;
  height: 30rem;
  background-position-y: -1100px;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_incio .imgInicio .text_img {
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 3rem;
}
.container_incio .imgInicio .text_img h2 {
  text-align: center;
  color: #fff;
  font-size: 2.7rem;
  font-family: "Open Sans";
}
.container_incio .imgInicio .text_img h4 {
  color: #fff;
  font-size: 2rem;
}
@media screen and (max-width: 425px) {
  .container_incio .imgInicio .image_inicio {
    background-position: center;
  }
  .container_incio .imgInicio .text_img {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 3rem;
  }
  .container_incio .imgInicio .text_img h2 {
    padding: 2.7rem;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
  }
  .container_incio .imgInicio .text_img h4 {
    color: #fff;
    font-size: 1.2rem;
  }
}
.container_incio .-title_inicio {
  grid-area: -title_inicio;
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.container_incio .-title_inicio .logoPresentacion {
  width: 20rem;
  height: 15rem;
  background-image: url("src/assets/images/neurocaminos.png");
  background-size: cover;
  background-position: center;
}
.container_incio .-title_inicio h2 {
  color: #3F37C9;
  font-size: 3rem;
  margin: 5rem 0 3rem 0;
}
@media screen and (max-width: 425px) {
  .container_incio .-title_inicio h2 {
    font-size: 1.6rem;
    margin: 2rem 0 0 0;
  }
}
.container_incio .-title_inicio .title_inicioContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
  margin: 0 0 5rem 0;
}
.container_incio .-title_inicio .title_inicioContent .title_inicioContent_text {
  text-align: left;
  max-width: 25rem;
  font-size: 1.4rem;
}
@media screen and (max-width: 425px) {
  .container_incio .-title_inicio .title_inicioContent .title_inicioContent_text {
    font-size: 0.9rem;
    padding: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .container_incio .-title_inicio .title_inicioContent {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 425px) {
  .container_incio .-title_inicio .title_inicioContent {
    gap: 0.4rem;
    padding: 1rem;
    margin: 2.3rem 0 1rem 0;
  }
}
.container_incio .-title_inicio .title_inicioContent h3 {
  color: #4361EE;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .container_incio .-title_inicio .title_inicioContent h3 {
    font-size: 1.3rem;
  }
}
.container_incio .-title_inicio .title_inicioContent h2 {
  font-size: 3rem;
  color: white;
  font-family: "Open Sans";
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .container_incio .-title_inicio .title_inicioContent h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 425px) {
  .container_incio .-title_inicio .title_inicioContent h2 {
    font-size: 0.1rem;
  }
}
.container_incio .aside_inicio {
  grid-area: aside_inicio;
  margin: 1rem 1rem 1rem 0;
  padding: 0 4rem 0 4rem;
  height: auto;
}
.container_incio .aside_inicio .aside_inicioContent {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.7rem 2rem 0.7rem;
  height: 100%;
}
.container_incio .aside_inicio .aside_inicioContent h3 {
  color: #4361EE;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}
.container_incio .aside_inicio .aside_inicioContent p {
  color: #4361EE;
  font-size: 1.2rem;
}
@media screen and (max-width: 1024px) {
  .container_incio .aside_inicio {
    margin: 1rem 1rem 1rem 1rem;
  }
  .container_incio .aside_inicio .aside_inicioContent h3 {
    font-size: 1.5rem;
  }
  .container_incio .aside_inicio .aside_inicioContent p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .container_incio .aside_inicio {
    padding: 0 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
  }
  .container_incio .aside_inicio .aside_inicioContent h3 {
    font-size: 1.1rem;
  }
  .container_incio .aside_inicio .aside_inicioContent p {
    font-size: 0.9rem;
  }
}
.container_incio .main_inicio {
  grid-area: main_inicio;
  margin: 0 5rem 3.3rem 5rem;
}
@media screen and (max-width: 1024px) {
  .container_incio .main_inicio {
    margin: 0 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 425px) {
  .container_incio .main_inicio {
    margin: 0 1rem 1rem 1rem;
  }
}
.container_incio .main_inicio .main_inicioContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.container_incio .main_inicio .main_inicioContent .misionesCentro {
  max-width: 25rem;
  color: white;
  padding: 2rem;
  border: 5px solid #4361EE;
}
.container_incio .main_inicio .main_inicioContent .misionesCentro h3 {
  color: #3F37C9;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
}
.container_incio .main_inicio .main_inicioContent .misionesCentro p {
  margin-bottom: 1rem;
  color: #4361EE;
  font-style: italic;
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .container_incio .main_inicio .main_inicioContent .misionesCentro h3 {
    font-size: 1.4rem;
  }
  .container_incio .main_inicio .main_inicioContent .misionesCentro p {
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .container_incio .main_inicio .main_inicioContent .misionesCentro {
    border: 2px solid #4361EE;
    padding: 1rem;
    width: 100%;
  }
  .container_incio .main_inicio .main_inicioContent .misionesCentro h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .container_incio .main_inicio .main_inicioContent .misionesCentro p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
}
.container_incio .multimedia_incio1 {
  grid-area: multimedia_incio1;
  height: auto;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/taniker-rojas.appspot.com/o/IMG-20240724-WA0020.jpg?alt=media&token=8ecac223-7569-4bea-8cbe-861c0e6700eb");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  margin: 1rem;
}
@media screen and (max-width: 1024px) {
  .container_incio .multimedia_incio1 {
    background-position: 80%;
  }
}
@media screen and (max-width: 425px) {
  .container_incio .multimedia_incio1 {
    background-size: cover;
    height: 21vh;
  }
}
.container_incio .profecionales_inicio {
  grid-area: profecionales_inicio;
}
.container_incio .profecionales_inicio h2 {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 2rem 0 2rem 0;
  background: linear-gradient(0.25turn, #4895EF, #4361EE, #4895EF);
  color: white;
}
.container_incio .profecionales_inicio .conteinerProfesionales {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 5rem 1em;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 25rem;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional1 h3 {
  color: #3F37C9;
  font-weight: bolder;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional1 h4 {
  font-weight: 400;
  margin: 1rem;
  color: #4361EE;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional1img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/taniker-rojas.appspot.com/o/Centro4.jpeg?alt=media&token=014b17d5-cd2b-4855-aceb-cd4c3c01f0a1");
  height: 13rem;
  width: 13rem;
  margin: 1rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 25rem;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional2 h3 {
  color: #3F37C9;
  font-weight: bolder;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional2 h4 {
  font-weight: 400;
  margin: 1rem;
  color: #4361EE;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional2img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/taniker-rojas.appspot.com/o/IMG-20240724-WA0025.jpg?alt=media&token=6d7a8844-780b-422a-9f69-a00ff8c47229");
  height: 13rem;
  width: 13rem;
  margin: 1rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 25rem;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional3 h3 {
  color: #3F37C9;
  font-weight: bolder;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional3 h4 {
  font-weight: 400;
  margin: 1rem;
  color: #4361EE;
}
.container_incio .profecionales_inicio .conteinerProfesionales .profesional3img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/taniker-rojas.appspot.com/o/Centro2.jpeg?alt=media&token=b47ce882-dc85-4b55-81d5-3143de664249");
  height: 13rem;
  width: 13rem;
  margin: 1rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 425px) {
  .container_incio .profecionales_inicio h2 {
    font-size: 1.3rem;
  }
  .container_incio .profecionales_inicio .conteinerProfesionales .profesional1 h4 {
    font-size: 0.9rem;
  }
  .container_incio .profecionales_inicio .conteinerProfesionales .profesional2 h4 {
    font-size: 0.9rem;
  }
  .container_incio .profecionales_inicio .conteinerProfesionales .profesional3 h4 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .container_incio {
    grid-template-columns: auto auto auto;
    padding-top: 20rem;
  }
}
@media screen and (max-width: 425px) {
  .container_incio {
    grid-template-columns: auto auto;
    padding-top: 10rem;
    grid-template-areas: "imgInicio imgInicio " "-title_inicio -title_inicio  " "main_inicio main_inicio  " "multimedia_incio1 multimedia_incio1  " "aside_inicio aside_inicio" "profecionales_inicio profecionales_inicio " "containerUbicacion containerUbicacion " "teleasistencia teleasistencia ";
  }
}
.containerContacto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 18rem;
  height: 100vh;
  background-color: #4361EE;
}
.containerContacto h3 {
  color: white;
  font-size: 2rem;
}
.containerContacto .contactoUbicacion {
  margin: 2rem;
  width: 80vw;
  height: 40rem;
  background-color: #4895EF;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.containerContacto .contactoUbicacion iframe {
  box-shadow: 10px 5px 5px black;
  border-radius: 30px;
  border: none;
  width: 70vw;
  height: 30rem;
}
@media screen and (max-width: 1024px) {
  .containerContacto {
    padding-top: 17rem;
  }
}

.containerNosotros {
  padding-top: 10.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.containerNosotros .portadaImg {
  background-image: url("https://www.psicnuevocomienzo.com/wp-content/uploads/2021/03/bored-boy-PJJ9FGU-scaled-1.jpg");
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .containerNosotros .portadaImg {
    background-position: left;
  }
}
.containerNosotros h2 {
  margin: 0.8rem;
  color: white;
  font-size: 4rem;
  opacity: 100%;
  text-shadow: 2px 2px black;
}
.containerNosotros .infoNosotros .titleinfoNosotros {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  padding: 3rem;
  background-color: #3A86FF;
  color: white;
}
.containerNosotros .infoNosotros .conocenos {
  padding: 3rem 22vw 3rem 22vw;
}
.containerNosotros .infoNosotros .conocenos h3 {
  padding: 0 0 2rem 0;
  color: #3A86FF;
  font-size: 1.5rem;
}
.containerNosotros .infoNosotros .conocenos p {
  font-size: 1.3rem;
}
@media screen and (max-width: 425px) {
  .containerNosotros {
    padding-top: 4rem;
  }
}

.main_carrusel {
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  padding: 20rem 1rem 0 1rem;
}
.main_carrusel .slider-container {
  position: relative;
  height: 100%;
}
.main_carrusel .slider-container .container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}
.main_carrusel .slider-container .container-images ul, .main_carrusel .slider-container .container-images li {
  list-style: none;
  white-space: nowrap;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main_carrusel .slider-container .container-images ul .imgCarrusel, .main_carrusel .slider-container .container-images li .imgCarrusel {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
  scroll-behavior: smooth;
}
* body {
  background-color: #4CC9F0;
}

div[id] {
  scroll-margin-top: 9rem;
}/*# sourceMappingURL=styles.css.map */