@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Roboto+Slab&family=Work+Sans:wght@300;400;600&display=swap");
.infoBar {
  width: 100%;
  height: inherit;
  padding: 1rem;
  background-color: #8338EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  gap: 1rem;
  position: fixed;
}

.infoBar .numeroTel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.infoBar .numeroWp a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 1rem;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.infoBar .numeroWp a:hover {
  color: #FFBE0B;
}

.infoBar * {
  font-size: 1.7rem;
}

.infoBar * svg {
  width: 2.3rem;
  height: 2.3rem;
}

@media screen and (max-width: 425px) {
  .infoBar * {
    font-size: .8rem;
  }
  .infoBar * svg {
    width: 1rem;
    height: 1rem;
  }
}

nav {
  margin-top: 4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFBE0B;
  padding: 1.7rem 1.5rem;
  position: fixed;
  width: 100%;
  gap: 1rem;
}

nav .logo {
  width: 3.2rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

nav .logo:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media screen and (max-width: 425px) {
  nav .logo {
    width: 2rem;
  }
}

nav .tituloNav {
  color: #3A86FF;
  font-size: 2.5rem;
}

@media screen and (max-width: 425px) {
  nav .tituloNav {
    font-size: 1.1rem;
  }
}

nav .listaNavisActive {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin: .3rem;
  color: #3A86FF;
}

@media screen and (max-width: 425px) {
  nav .listaNavisActive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    font-size: .8rem;
    gap: .7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    font-size: .8rem;
    font-weight: 600;
    color: #FFBE0B;
  }
  nav .listaNavisActive a {
    color: #FFBE0B;
  }
  nav .listaNavisActive li {
    width: 100%;
    padding: .7rem;
    background-color: #3A86FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .listaNav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin: .3rem;
  color: #3A86FF;
}

@media screen and (max-width: 425px) {
  nav .listaNav {
    display: none;
  }
  nav .listaNav li {
    display: none;
  }
}

nav .botonHamburguesa {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #3A86FF;
}

@media screen and (max-width: 425px) {
  nav .botonHamburguesa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  nav {
    margin-top: 3rem;
  }
}

.underline {
  display: inline-block;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.underline:hover {
  color: #FFBE0B;
}

.underline__blue {
  display: inline-block;
  position: relative;
}

.underline__blue:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: 0;
  top: 2.3rem;
  left: 0;
  background-color: #3A86FF;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.underline__blue:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.contenedorFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #FFBE0B;
  color: #3A86FF;
}

.contenedorFooter ul {
  width: 10rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.contenedorFooter ul h3 {
  margin-bottom: 1.5rem;
}

.contenedorFooter ul li {
  text-align: center;
  margin-bottom: .7rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.contenedorFooter ul li:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.contenedorFooter ul .iconFooter {
  width: 2.2rem;
}

.iconWP {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 30px;
  right: 30px;
  line-height: 55px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  padding: .8rem;
  -webkit-box-shadow: 0px 1px 10px rbga(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rbga(0, 0, 0, 0.3);
  z-index: 100;
}

.iconWP:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

@media screen and (max-width: 425px) {
  .iconWP {
    width: 50px;
    height: 50px;
    padding: auto;
  }
}

.container_incio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "-title_inicio -title_inicio -title_inicio" "main_inicio main_inicio main_inicio" "multimedia_incio1 multimedia_incio1 aside_inicio" "profecionales_inicio profecionales_inicio profecionales_inicio";
  padding-top: 10.4rem;
}

.container_incio .-title_inicio {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: -title_inicio;
  width: 100%;
  height: auto;
}

.container_incio .-title_inicio .title_inicioContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#8338EC), to(#FFBE0B));
  background: linear-gradient(to right, #8338EC, #FFBE0B);
  margin: 1.2rem;
}

.container_incio .-title_inicio .title_inicioContent h3 {
  color: white;
  font-weight: 100;
}

.container_incio .-title_inicio .title_inicioContent h2 {
  color: white;
  font-family: "Open Sans";
}

.container_incio .aside_inicio {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: aside_inicio;
  margin: 1rem 1rem 1rem 0;
  background-color: #FFBE0B;
  height: auto;
}

@media screen and (max-width: 425px) {
  .container_incio .aside_inicio {
    margin: 1rem 1rem 1rem 1rem;
  }
}

.container_incio .aside_inicio .aside_inicioContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem;
  height: 100%;
}

.container_incio .aside_inicio .aside_inicioContent h3 {
  color: #3A86FF;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}

.container_incio .aside_inicio .aside_inicioContent p {
  color: #3A86FF;
  padding: 0 1.4rem 1rem 1.4rem;
}

.container_incio .main_inicio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main_inicio;
  padding: 0 1rem 0 1rem;
}

.container_incio .main_inicio .main_inicioContent {
  color: white;
  padding: 1.5rem;
  border: 5px solid #FFBE0B;
  border-radius: 0 0 0 0;
}

.container_incio .main_inicio .main_inicioContent h3 {
  color: #FFBE0B;
  margin-bottom: 1rem;
}

.container_incio .main_inicio .main_inicioContent p {
  margin-bottom: 1rem;
  color: #8338EC;
}

.container_incio .multimedia_incio1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: multimedia_incio1;
  height: 40vh;
  background-image: url("https://compartirenfamilia.com/wp-content/uploads/2022/04/terapia-infantil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  margin: 1rem;
}

@media screen and (max-width: 1024px) {
  .container_incio .multimedia_incio1 {
    background-position: 80%;
  }
}

@media screen and (max-width: 425px) {
  .container_incio .multimedia_incio1 {
    background-size: cover;
    height: 21vh;
  }
}

.container_incio .profecionales_inicio {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: profecionales_inicio;
}

.container_incio .profecionales_inicio h2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  margin: 0 1rem 1rem 0;
  background-color: #3A86FF;
  color: #FFBE0B;
}

.container_incio .profecionales_inicio .conteinerProfesionales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional1 h4 {
  margin: 1rem;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional1img {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/bad-bunny-1672827485.jpg?crop=1xw:0.8056640625xh;center,top&resize=980:*");
  height: 13rem;
  width: 13rem;
  margin: 1rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional2 h4 {
  margin: 1rem;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional2img {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/bad-bunny-1672827485.jpg?crop=1xw:0.8056640625xh;center,top&resize=980:*");
  height: 13rem;
  width: 13rem;
  margin: 1rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional3 h4 {
  margin: 1rem;
}

.container_incio .profecionales_inicio .conteinerProfesionales .profesional3img {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/bad-bunny-1672827485.jpg?crop=1xw:0.8056640625xh;center,top&resize=980:*");
  height: 13rem;
  width: 13rem;
  margin: 1rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .container_incio {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    padding-top: 14rem;
  }
}

@media screen and (max-width: 425px) {
  .container_incio {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    padding-top: 8rem;
        grid-template-areas: "-title_inicio -title_inicio  " "main_inicio main_inicio  " "multimedia_incio1 multimedia_incio1  " "aside_inicio aside_inicio" "profecionales_inicio profecionales_inicio ";
  }
}

.containerContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13rem;
  height: 100vh;
  background-color: #3A86FF;
}

.containerContacto h3 {
  color: #FFBE0B;
  font-size: 2rem;
}

.containerContacto .contactoUbicacion {
  margin: 2rem;
  width: 80vw;
  height: 40rem;
  background-color: #FFBE0B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.containerContacto .contactoUbicacion iframe {
  -webkit-box-shadow: 10px 5px 5px black;
          box-shadow: 10px 5px 5px black;
  border-radius: 30px;
  border: none;
  width: 70vw;
  height: 30rem;
}

@media screen and (max-width: 1024px) {
  .containerContacto {
    padding-top: 17rem;
  }
}

.containerNosotros {
  padding-top: 10.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerNosotros .portadaImg {
  background-image: url("https://www.psicnuevocomienzo.com/wp-content/uploads/2021/03/bored-boy-PJJ9FGU-scaled-1.jpg");
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  .containerNosotros .portadaImg {
    background-position: left;
  }
}

.containerNosotros h2 {
  margin: .8rem;
  color: white;
  font-size: 4rem;
  opacity: 100%;
  text-shadow: 2px 2px black;
}

.containerNosotros .infoNosotros .titleinfoNosotros {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  padding: 3rem;
  background-color: #3A86FF;
  color: #FFBE0B;
}

.containerNosotros .infoNosotros .conocenos {
  padding: 3rem 22vw 3rem 22vw;
}

.containerNosotros .infoNosotros .conocenos h3 {
  padding: 0 0 2rem 0;
  color: #3A86FF;
  font-size: 1.5rem;
}

.containerNosotros .infoNosotros .conocenos p {
  font-size: 1.3rem;
}

@media screen and (max-width: 425px) {
  .containerNosotros {
    padding-top: 4rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans";
}

* body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #3A86FF;
}
/*# sourceMappingURL=styles.css.map */