.containerContacto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 18rem;
    height: 100vh;
    background-color: $azul3;
    h3{
        color:white;
        font-size: 2rem;
    }
    .contactoUbicacion{
        margin: 2rem;
        width: 80vw;
        height: 40rem;
        background-color: $azul2;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        // border-radius: 50% 0 50% 0;
        iframe{
            box-shadow: 10px 5px 5px black;
            border-radius: 30px;
            border: none;
            width: 70vw;
            height: 30rem;
        }
    }
    @include breakpiont(tablet){
        padding-top: 17rem;
    }
}