//Importamos la fuente desde el archivo css
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Roboto+Slab&family=Work+Sans:wght@300;400;600&display=swap');

$naranjaClaro : #FFBE0B;
$naranjaOscuro : #FB5607;
$rosa:#FF006E;
$violeta:#8338EC;
$celeste:#3A86FF;

//Fuentes

$fuentePrincipal:'Open Sans';
$funeteSecundario:'Roboto Slab';
$fuenteTerciaria: 'Work Sans';