//Importamos la fuente desde el archivo css
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Roboto+Slab&family=Work+Sans:wght@300;400;600&display=swap');

$naranjaClaro : #FFBE0B;
$naranjaOscuro : #FB5607;
$rosa:#FF006E;
$violeta:#8338EC;
$celeste:#3A86FF;

//Colores seleccionados por Pamela

$azul1:#4CC9F0;
$azul2:#4895EF;
$azul3:#4361EE;
$azul4:#3F37C9;
$fucsia1:#3A0CA3;
$fucsia2:#480CA8;
$fucsia3:#560BAD;
$fucsia4:#7209B7;
$fucsia5:#B5179E;
$fucsia6:#F72585;

//Fuentes

$fuentePrincipal:'Open Sans';
$funeteSecundario:'Roboto Slab';
$fuenteTerciaria: 'Work Sans';